.link{
 text-decoration: none;
 color: black;
 font-size: medium;

}
html{
     overflow-x: hidden;
}

.font{
     font-family: 'Montserrat', sans-serif;
     font-size: 70px;
     font-weight: bolder !important;
     opacity: 0.3;
     transition: all 0.5s ease-in-out !important; 
}
.font:hover{
    opacity: 1;
}
.anchar{
    text-decoration: none !important;
    color: black;
}
.img-link{
 text-decoration: none !important;
 ;
}
#clickable-img :hover {
    cursor: pointer;
}
@media only screen and (max-width: 767px){
    .link{
        font-size: 11px !important;
    }
    .link1{
        font-size: medium !important;
    }
   .h{
    height: 300px;
   } 

}